/**
 * CSS Reset
 */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

button, select {
  font-family: inherit;
}

body {
  font-family: var(--sans);
  background: var(--bg);
  color: var(--white);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;  /* OpenType GPOS kerning pairs activated */
}

::selection {
  background: var(--white);
  color: #000;
}
